@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-2">Welcome All!</h1>
    <h1 class="display-4">We provide dental services</h1>
   <img height ="600" src="/Image/dentalhome.webp"/>
</div>

 @* @{
    int age =18;
}
<h1> Age of a person:@age</h1>  *@